/* 共通部分 */
body {
    font-family: "コーポレート明朝 ver2" ;
    background: linear-gradient(rgb(255, 157, 0),white,white,white,white,rgb(255, 157, 0));
}
body .header{
    height: 90px;
}
.header-logo{
    float: left;
    font-size: 30px;
    padding: 20px 40px;
}
.header-menu li{
    float: left;
    padding: 33px 20px;
    list-style: none;
}
.main{
    height: 100vh;
}
.footer{
    height: 90px;
}
.sitelink {
    float: right;
}
.qr{
    display: none;
}
.sitelink p{
    margin-right: 20px;
}
.footer p{
    float: left;
    padding: 20px 40px;
}
/* homepage*/
/* aboutpage */
/* applicationpage */
/* contactpage */


/* レスポンシブ対応 */
@media screen and (min-width: 472px) {
    .cookwith img{
        width: 50%;
    }
    .unitygame img{
        width: 50%;
    }
}
@media screen and (max-width: 472px) {
    .cookwith img{
        width: 100%;
    }
    .unitygame img{
        width: 100%;
    }
}

